<!DOCTYPE html>
<html>
  <head>
    <title><%= skills.id %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= skills.id %></h1>
    <p>Welcome to Show <%= skills.id %></p>
  </body>
</html>
